@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-1">Duginov BLOG</h1>
    
    <p class="lead">История успеха: с вакансии медбрата до съемщика пентхауса.</p>
</div>
